#chopperGuy{
   width: 200px;
   height: 200px;
   position: absolute;
}

#madBiker{
   width: 70px;
   height: 70px;
   position: absolute;
   top: 300px;
   left: 300px;
}

body{
   background-color: black;
}


#YourHealth{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: blue;
   text-align: right;
   position: absolute;
   top: 100px;
   left: 750px;
}
#madBikerHealth{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: blue;
   text-align: right;
   position: absolute;
   top: 200px;
   left: 750px;
}

#playerHealth{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: blue;
   text-align: left;
   position: absolute;
   top: 100px;
   left: 850px;
}
#bossHealth{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: blue;
   text-align: right;
   position: absolute;
   top: 200px;
   left: 900px;
}

.ball{
   display: none;
   width: 20px;
   height: 20px;
   position: absolute;
}

@keyframes moving {
   33%{
      top: 300px;
      left: 200px;
   }
   66%{
      top: 300px;
      left: 400px;
   }
   100%{
      top: 300px;
      left: 300px;
   }
   
}

@keyframes fire{
   10%{
      top: 400px;
      /* left: 500px; */
   }
   100%{
      top: 300px;
      /* left: 500px; */
   }
}